  mariadb:
    image: mariadb:11.4.3@sha256:fbb04261e9296f7b8c629c5883856c1fe8fda1e78300d03bdcd2966a87b764bd
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: '{{ reims2_db_root_password }}'
      MARIADB_DATABASE: '{{ reims2_db_name }}'
      MARIADB_USER: '{{ reims2_db_user }}'
      MARIADB_PASSWORD: '{{ reims2_db_password }}'
      MARIADB_AUTO_UPGRADE: 'true'
    volumes:
      - "{{ backend_db_location }}:/var/lib/mysql"
      - "{{ mariadb_cnf_location }}:/etc/mysql/conf.d/custom.cnf"
    networks:
      {{ db_network }}:
    command:
      - "--port={{ db_port }}"
{% if backend_debug %}
      - "--innodb-buffer-pool-size=67108864"
{% else %}
      - "--innodb-buffer-pool-size=268435456"
{% endif %}
    healthcheck:
        test: ["CMD", 'mariadb-admin', 'ping', '-h', 'localhost', '-uroot', '-p"{{ reims2_db_root_password }}"' ]
        timeout: 10s
        retries: 3
        start_period: 10s

    deploy:
      update_config:
        order: stop-first
        failure_action: rollback
        delay: 5s
      rollback_config:
        parallelism: 0
        order: stop-first
        delay: 5s
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s
